
    {% extends 'base.html' %}

    {% block content %}

        <h2>게시판 리스트  <a href="{% url 'new' %}" class="btn btn-sm btn-primary ">글 쓰기</a> </h2> 
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">번호</th>
                    <th scope="col">제목</th>
                    <th scope="col">내용</th>
                    <th scope="col">날짜</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            {% for item in listsss %}
                <tr>
                    <td> </td>
                    <td>{{item.title}}</td>
                    <td>{{item.contents}}</td>
                    <td>{{item.created_date|date:'Y-m-d-f'}}</td>
                    <td><a href="{% url 'edit' item.pk %}" class="btn btn-sm btn-primary "><span>수정</span> </a></td>  
                </tr>
           
            </tbody>
            {% endfor %}
        </table>
      
    {% endblock %}
