<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}

        <h2>게시판 리스트</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">num</th>
                    <th scope="col">제목</th>
                    <th scope="col">내용</th>
                    <th scope="col">날짜</th>
                </tr>
            </thead>
            <tbody>
            {% for post in list %}
                <tr>
                    <td>{{post.dbcon}}</td>
                    <td>{{post.title}}</td>
                    <td>{{post.contents}}</td>
                    <td>{{post.created_date|date:'Y-m-d-f'}}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        <a href="{% url 'new' %}" class="btn btn-light">글 쓰기</a> 
    {% endblock %}
</body>
</html>